apiVersion: kind.x-k8s.io/v1alpha4
kind: Cluster
name: edbpg
nodes:
- role: control-plane
  image: kindest/node:v1.34.0
  labels:
    topology.kubernetes.io/region: region-1
    topology.kubernetes.io/zone: zone-1a
- role: worker
  image: kindest/node:v1.34.0
  labels:
    topology.kubernetes.io/region: region-1
    topology.kubernetes.io/zone: zone-1a
- role: worker
  image: kindest/node:v1.34.0
  labels:
    topology.kubernetes.io/region: region-1
    topology.kubernetes.io/zone: zone-1b
- role: worker
  image: kindest/node:v1.34.0
  labels:
    topology.kubernetes.io/region: region-1
    topology.kubernetes.io/zone: zone-1c
